<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>NotificationMessage</title>
  <link rel="stylesheet" href="../../styles/all.css" />
</head>
<body>
  <div class="notification success" style="--value:10000s">
    <div class="timer"></div>
    <div class="inner-wrapper">
      <div class="notification-header">Success:</div>
      <div class="notification-body">
        Some message
      </div>
    </div>
  </div>

  <div class="notification error">
    <div class="inner-wrapper">
      <div class="notification-header">Error: <span class="close">×</span></div>
      <div class="notification-body">
        Some message
      </div>
    </div>
  </div>

  <div class="notification warning" style="--value:10000s">
    <div class="timer"></div>
    <div class="inner-wrapper">
      <div class="notification-header">Warning:</div>
      <div class="notification-body">
        Some message
      </div>
    </div>
  </div>
</body>
