<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ColumnChart</title>
    <link rel="stylesheet" href="../../styles/all.css">
    <style>
    .dashboard__charts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px;
      --chart-height: 50;
    }

    .dashboard__chart_orders {
      --chart-column-color: var(--yellow);
    }

    .dashboard__chart_sales {
      --chart-column-color: var(--green);
    }

    .dashboard__chart_customers {
      --chart-column-color: var(--purple);
    }
  </style>
</head>
<body>

<div class="dashboard__charts">
  <div class="column-chart dashboard__chart_orders">
    <div class="column-chart__title">
      Total orders
      <a href="/sales" class="column-chart__link">View all</a>
    </div>
    <div class="column-chart__container">
      <div class="column-chart__header">344</div>
      <div class="column-chart__chart">
        <div style="--value:28" data-tooltip="<div><small>15 янв. 2020 г.</small></div><strong>11</strong>"></div>
        <div style="--value:28" data-tooltip="<div><small>16 янв. 2020 г.</small></div><strong>11</strong>"></div>
        <div style="--value:23" data-tooltip="<div><small>17 янв. 2020 г.</small></div><strong>9</strong>"></div>
        <div style="--value:7" data-tooltip="<div><small>18 янв. 2020 г.</small></div><strong>3</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>19 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>20 янв. 2020 г.</small></div><strong>14</strong>"></div>
        <div style="--value:39" data-tooltip="<div><small>21 янв. 2020 г.</small></div><strong>15</strong>"></div>
        <div style="--value:7" data-tooltip="<div><small>22 янв. 2020 г.</small></div><strong>3</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>23 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:42" data-tooltip="<div><small>24 янв. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:42" data-tooltip="<div><small>25 янв. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:7" data-tooltip="<div><small>26 янв. 2020 г.</small></div><strong>3</strong>"></div>
        <div style="--value:31" data-tooltip="<div><small>27 янв. 2020 г.</small></div><strong>12</strong>"></div>
        <div style="--value:39" data-tooltip="<div><small>28 янв. 2020 г.</small></div><strong>15</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>29 янв. 2020 г.</small></div><strong>14</strong>"></div>
        <div style="--value:18" data-tooltip="<div><small>30 янв. 2020 г.</small></div><strong>7</strong>"></div>
        <div style="--value:15" data-tooltip="<div><small>31 янв. 2020 г.</small></div><strong>6</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>1 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>2 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>3 февр. 2020 г.</small></div><strong>14</strong>"></div>
        <div style="--value:5" data-tooltip="<div><small>4 февр. 2020 г.</small></div><strong>2</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>5 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:42" data-tooltip="<div><small>6 февр. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:44" data-tooltip="<div><small>7 февр. 2020 г.</small></div><strong>17</strong>"></div>
        <div style="--value:5" data-tooltip="<div><small>8 февр. 2020 г.</small></div><strong>2</strong>"></div>
        <div style="--value:42" data-tooltip="<div><small>9 февр. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:50" data-tooltip="<div><small>10 февр. 2020 г.</small></div><strong>19</strong>"></div>
        <div style="--value:34" data-tooltip="<div><small>11 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:15" data-tooltip="<div><small>12 февр. 2020 г.</small></div><strong>6</strong>"></div>
        <div style="--value:50" data-tooltip="<div><small>13 февр. 2020 г.</small></div><strong>19</strong>" class=""></div>
      </div>
    </div>
  </div>
  <div class="column-chart dashboard__chart_sales">
    <div class="column-chart__title">
      Total sales
    </div>
    <div class="column-chart__container">
      <div class="column-chart__header">$243,437</div>
      <div class="column-chart__chart">
        <div style="--value:19" data-tooltip="<div><small>15 янв. 2020 г.</small></div><strong>$6,790</strong>"></div>
        <div style="--value:12" data-tooltip="<div><small>16 янв. 2020 г.</small></div><strong>$4,493</strong>"></div>
        <div style="--value:16" data-tooltip="<div><small>17 янв. 2020 г.</small></div><strong>$5,831</strong>"></div>
        <div style="--value:3" data-tooltip="<div><small>18 янв. 2020 г.</small></div><strong>$1,075</strong>"></div>
        <div style="--value:22" data-tooltip="<div><small>19 янв. 2020 г.</small></div><strong>$7,856</strong>"></div>
        <div style="--value:33" data-tooltip="<div><small>20 янв. 2020 г.</small></div><strong>$11,826</strong>"></div>
        <div style="--value:21" data-tooltip="<div><small>21 янв. 2020 г.</small></div><strong>$7,376</strong>"></div>
        <div style="--value:4" data-tooltip="<div><small>22 янв. 2020 г.</small></div><strong>$1,394</strong>"></div>
        <div style="--value:21" data-tooltip="<div><small>23 янв. 2020 г.</small></div><strong>$7,658</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>24 янв. 2020 г.</small></div><strong>$12,685</strong>"></div>
        <div style="--value:27" data-tooltip="<div><small>25 янв. 2020 г.</small></div><strong>$9,505</strong>"></div>
        <div style="--value:2" data-tooltip="<div><small>26 янв. 2020 г.</small></div><strong>$822</strong>"></div>
        <div style="--value:28" data-tooltip="<div><small>27 янв. 2020 г.</small></div><strong>$9,973</strong>"></div>
        <div style="--value:29" data-tooltip="<div><small>28 янв. 2020 г.</small></div><strong>$10,386</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>29 янв. 2020 г.</small></div><strong>$12,631</strong>"></div>
        <div style="--value:16" data-tooltip="<div><small>30 янв. 2020 г.</small></div><strong>$5,665</strong>"></div>
        <div style="--value:15" data-tooltip="<div><small>31 янв. 2020 г.</small></div><strong>$5,553</strong>"></div>
        <div style="--value:27" data-tooltip="<div><small>1 февр. 2020 г.</small></div><strong>$9,619</strong>"></div>
        <div style="--value:18" data-tooltip="<div><small>2 февр. 2020 г.</small></div><strong>$6,603</strong>"></div>
        <div style="--value:38" data-tooltip="<div><small>3 февр. 2020 г.</small></div><strong>$13,284</strong>"></div>
        <div style="--value:7" data-tooltip="<div><small>4 февр. 2020 г.</small></div><strong>$2,692</strong>"></div>
        <div style="--value:28" data-tooltip="<div><small>5 февр. 2020 г.</small></div><strong>$9,875</strong>"></div>
        <div style="--value:50" data-tooltip="<div><small>6 февр. 2020 г.</small></div><strong>$17,423</strong>"></div>
        <div style="--value:22" data-tooltip="<div><small>7 февр. 2020 г.</small></div><strong>$7,905</strong>"></div>
        <div style="--value:3" data-tooltip="<div><small>8 февр. 2020 г.</small></div><strong>$1,200</strong>"></div>
        <div style="--value:29" data-tooltip="<div><small>9 февр. 2020 г.</small></div><strong>$10,375</strong>"></div>
        <div style="--value:41" data-tooltip="<div><small>10 февр. 2020 г.</small></div><strong>$14,511</strong>"></div>
        <div style="--value:28" data-tooltip="<div><small>11 февр. 2020 г.</small></div><strong>$10,061</strong>" class=""></div>
        <div style="--value:11" data-tooltip="<div><small>12 февр. 2020 г.</small></div><strong>$4,009</strong>"></div>
        <div style="--value:41" data-tooltip="<div><small>13 февр. 2020 г.</small></div><strong>$14,361</strong>" class=""></div>
      </div>
    </div>
  </div>
  <div class="column-chart dashboard__chart_customers">
    <div class="column-chart__title">
      Total customers

    </div>
    <div class="column-chart__container">
      <div class="column-chart__header">321</div>
      <div class="column-chart__chart">
        <div style="--value:27" data-tooltip="<div><small>15 янв. 2020 г.</small></div><strong>10</strong>"></div>
        <div style="--value:30" data-tooltip="<div><small>16 янв. 2020 г.</small></div><strong>11</strong>"></div>
        <div style="--value:25" data-tooltip="<div><small>17 янв. 2020 г.</small></div><strong>9</strong>"></div>
        <div style="--value:8" data-tooltip="<div><small>18 янв. 2020 г.</small></div><strong>3</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>19 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>20 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>21 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:8" data-tooltip="<div><small>22 янв. 2020 г.</small></div><strong>3</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>23 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:44" data-tooltip="<div><small>24 янв. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:44" data-tooltip="<div><small>25 янв. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:5" data-tooltip="<div><small>26 янв. 2020 г.</small></div><strong>2</strong>"></div>
        <div style="--value:33" data-tooltip="<div><small>27 янв. 2020 г.</small></div><strong>12</strong>"></div>
        <div style="--value:33" data-tooltip="<div><small>28 янв. 2020 г.</small></div><strong>12</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>29 янв. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:19" data-tooltip="<div><small>30 янв. 2020 г.</small></div><strong>7</strong>"></div>
        <div style="--value:13" data-tooltip="<div><small>31 янв. 2020 г.</small></div><strong>5</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>1 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:30" data-tooltip="<div><small>2 февр. 2020 г.</small></div><strong>11</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>3 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:5" data-tooltip="<div><small>4 февр. 2020 г.</small></div><strong>2</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>5 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:36" data-tooltip="<div><small>6 февр. 2020 г.</small></div><strong>13</strong>"></div>
        <div style="--value:44" data-tooltip="<div><small>7 февр. 2020 г.</small></div><strong>16</strong>"></div>
        <div style="--value:5" data-tooltip="<div><small>8 февр. 2020 г.</small></div><strong>2</strong>"></div>
        <div style="--value:41" data-tooltip="<div><small>9 февр. 2020 г.</small></div><strong>15</strong>"></div>
        <div style="--value:50" data-tooltip="<div><small>10 февр. 2020 г.</small></div><strong>18</strong>"></div>
        <div style="--value:33" data-tooltip="<div><small>11 февр. 2020 г.</small></div><strong>12</strong>"></div>
        <div style="--value:13" data-tooltip="<div><small>12 февр. 2020 г.</small></div><strong>5</strong>"></div>
        <div style="--value:47" data-tooltip="<div><small>13 февр. 2020 г.</small></div><strong>17</strong>"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
