@import url("common.css");

/* TODO: add styles for components  */
/* components */
@import url("../components/sortable-table/style.css");
@import url("../components/double-slider/style.css");
@import url("../components/notification/style.css");
@import url("../components/range-picker/style.css");
@import url("../components/tooltip/style.css");
@import url("../components/column-chart/style.css");
@import url("../components/product-form-component/style.css");

/* TODO: add styles for pages  */
/* pages */
@import url("../pages/dashboard/style.css");
